doctype html
head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
  title We will get back to you
  style.
    #form{
    font-family: 'Bebas Neue';
    align-items: center;
    width: 600px;
    height: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px;
    }
    input[type=text] {
    width: 50%;
    box-sizing: border-box;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: none;
    border-bottom: 2px solid red;
    background-color: white;
    }
    input[type=text]:focus {
    outline: none;
    }
    textarea{
    resize: none;
    width: 200px;
    height: 70px;
    outline: none;
    border: none;
    border-left: 2px solid red;
    }
    .button {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    }
    .button:hover{
    opacity: 1;
    }
center
  br
  br
  #form
    h1 #{output1}
    h1 #{output2}